body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
}

.header h1 {
  font-size: 24px;
  color: #f9faf8
}

.header ul {
  display: flex;
  font-size: 18px;
  color: #e5e7eb;
  list-style: none;
}
